body {
  margin: 0;
  font-family: "Pokemon Pixel Font Regular", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("https://i.redd.it/qmfjuz883g7z.png"); */
  /* Link do tla: https://mocah.org/uploads/posts/991378-pixel-art-8-bit-green-digital-art-Pokmon.png */
  background-image: url("./assets/images/pokemon-grass-background.png");
  background-size: 1500px;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
