body {
  margin: 0;
  font-family: "Pokemon Pixel Font Regular", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgba(225, 255, 215, 0.76); */
  /* background-image: url("https://i.redd.it/qmfjuz883g7z.png"); */
  /* background-image: url("https://wallpaperaccess.com/full/418495.jpg"); */
  background-image: url("https://mocah.org/uploads/posts/991378-pixel-art-8-bit-green-digital-art-Pokmon.png");
  background-size: 3000px;
  /* Moze ladny gradient dla skali  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
